<!DOCTYPE html>
<html>
<head>
  <title>Admin Toko</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <nav>
    <a href="/">Dashboard</a> |
    <a href="/pembelian">Pembelian</a> |
    <a href="/chatbot">Chatbot</a>
  </nav>
  <hr>
  <%- body %>
</body>
</html>
