body {
  font-family: Arial;
  background: #f4f4f4;
}

form {
  background: white;
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 8px;
}

input, select, button {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
}
